// generate by jia
package routes

import (
  "net/http"

  "github.com/relaxgo/tangram/param"
  "somepkg/models"
)

{{ range $_, $f := .ValidFuncs }}
{{if not $f.ParsedDoc.api_ignore }}
func {{ $f.Name }}(w http.ResponseWriter, r *http.Request) {
  p := NewRequestValue(r)

  {{ range $_, $p := $f.Params -}}
  {{- if $p.IsBasic -}}
    {{ $p.Name }} := param.{{firstToUpper $p.TypeName }}(p, "{{ $p.Name}}")
  {{- else -}}
    {{ $p.Name }} := &{{ $.Package }}.{{base $p.TypeName}}{}
    param.Object(p, {{ $p.Name }})
  {{- end }}
  {{ end }}

  v, err:= {{$.Package}}.{{$f.Name}}({{pluckStrings $f.Params "Name" | join ","}})
  Respond(w, r, v, err)
}
{{ end }}
{{ end }}

